@import "../../../styles/variables.scss";
.sidebarMid {
  border-bottom: 1px solid $main-color-border;
  border-top: 1px solid $main-color-border;
  padding: 15px 5px 15px 5px;
  margin: 10px 0 10px 0%;  

  .sidebarListBtn {
    cursor: pointer;
    color: $grey-font-color;
    position: relative;
    font-size: 12px;
    padding: 8px;
    justify-content: space-between;
    display: flex;
    border-radius: 4px;
    align-items: center;
    .sidebarIconWrapper {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .dropdownIcon {
      font-size: 10px;
      color: $main-color;
      transform: rotate(-90deg);
      cursor: pointer;
      &.active {
        transform: rotate(0deg);
      }
    }

    .plusIcon {
      font-size: 18px;
      color: $main-color;
      cursor: pointer;
    }
  }
  .sidebarListBtn:hover {
    background-color: $main-color-hover;
    .dropdownIcon,
    .plusIcon {
      color: $grey-color;
    }

    .plusIcon:hover {
      color: $grey-color-hover;
    }
    .dropdownIcon:hover {
      color: $grey-color-hover;
    }
  }

  .sidebarTasksList {
    .sidebarTasksListContainer {
      padding-left: 25px;
    }
  }
}
