@import "../../../styles/variables.scss";

.modalCreateTask {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  user-select: none;
  transition: transform 4s 1s;

  .btnContainer {
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
  }

  .modalCreateTaskTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color-font-main);
  }
  .modalCreateTaskInput {
    font-size: 14px;
    width: 100%;
  }
  .errorInput{
    margin-top: 5px;
    color: $color-red;
    font-size: 14px;
  }
  .dropdownWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--color-font-light);
  }
  .colorWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    color: var(--color-font-light);
    margin-bottom: 15px;

    .colors {
      display: flex; /* Сделать контейнер цветов flex-контейнером */
      gap: 10px;

      .color {
        display: flex;
        width: 20px; /* Увеличить размер цветовых кругов */
        height: 20px;

        border-radius: 50%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .colorActive {
        width: 14px; /* Увеличить размер цветовых кругов */
        height: 14px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 50%;
      }
    }
  }
}
