.modalCreateTask {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .btnContainer {
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    color: rgb(55, 55, 55);
  }

  .modalCreateTaskTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .modalCreateTaskInput {
    margin-bottom: 30px;
  }
  .dropdownWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(55, 55, 55);
  }
  .colorWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    color: rgb(55, 55, 55);
    margin-bottom: 10px;

    .colors {
      display: flex; /* Сделать контейнер цветов flex-контейнером */
      gap: 10px;

      .color {
        display: flex;
        width: 20px; /* Увеличить размер цветовых кругов */
        height: 20px;

        border-radius: 50%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .colorActive {
        width: 14px; /* Увеличить размер цветовых кругов */
        height: 14px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 50%;
      }
    }
  }
}
