/* Skeleton.css */
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #fafafa 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: gradientAnimation 2.5s linear infinite;
  border-radius: 4px;
  display: inline-block;
  height: 35px;
  width: 100%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
