@import "../../../styles/variables.scss";

.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  user-select: none;
  width: 100%;
  
  .wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .iconWrapper {
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
  }

  .pageName {
    font-size: 24px;
    color: var(--color-font-main);
    padding: 5px 10px 5px 10px;
  }
  .pageName:hover {
    background-color: var(--color-hover-main);
    border-radius: 4px;
    cursor: pointer;
  }
  .sidebarToggle,
  .changeTheme {
    font-size: 25px;
    color: var(--color-font-main);
    cursor: pointer;
    border-radius: 4px;
  }

  .iconWrapper:hover {
    background-color: var(--color-hover-main);
  }
}
