@import "../../../styles/variables.scss";

.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .sidebarToggle,
  .changeTheme {
    font-size: 34px;
    color: var(--color-font-main);
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
  }

  .sidebarToggle:hover {
    background-color: var(--color-hover-main);
  }
  .changeTheme:hover {
    background-color: var(--color-hover-main);
  }
}
