.red {
  background-color: rgb(255, 97, 97);
}
.orange {
  background-color: rgb(255, 172, 56);
}
.yellow {
  background-color: rgb(255, 211, 36);
}
.salad {
  background-color: rgb(230, 234, 73);
}
.green {
  background-color: rgb(8, 201, 79);
}
.blue {
  background-color: rgb(76, 161, 255);
}
.purple {
  background-color: rgb(110, 117, 244);
}
.white {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(227, 227, 227);
}
