

///////////////////////////////////////////////////////////////////////
$color-blue: #439eff;
$color-hover-blue: #1485fe;
$color-light-blue: #e1efff;
$transition-duration: 0.1s;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mid-tab-height: 40px;




html[data-theme="light"] {
  --color-main: #ffffff;
  --color-border-main: #dddddd;
  --color-font-main: rgb(57, 57, 57);
  --color-font-light: rgb(162, 162, 162);
  --color-font-hover-light: rgb(85, 85, 85);
  --color-sidebar: rgb(240, 240, 240);
  --color-hover-main: #f1f1f1;
  --color-active-main: #ededed;
}

html[data-theme="dark"] {
  --color-main: #1e1e1e;
  --color-border-main: #818181;
  --color-font-main: rgb(231, 231, 231);
  --color-font-light: rgb(187, 187, 187);
  --color-font-hover-light: rgb(238, 238, 238);
  --color-sidebar: rgb(39, 39, 39);

  --color-hover-main: #303030;
  --color-active-main: #363636;
}
