
//transitions
$main-transition: all 0.3s ease;

//radius
$main-border-radius: 4px;


$main-color: #ffffff;
$main-color-hover: #efefef;
$main-color-active: #439eff;
$main-color-border: #dedede;

$grey-color: rgb(152, 152, 152);
$grey-color-hover: rgb(57, 57, 57);

$grey-dark-color: rgb(222, 222, 222);
$grey-dark-color-hover: rgb(237, 237, 237);


$black-font-color: #181818;
$grey-font-color: rgb(152, 152, 152);

$blue-color: #439eff;
$blue-color-hover: #2d92fe;
