
//color
$pale-pramary-color: #eef9ff;
$pale-pramary-color-active: #b9e4fc;
$pale-pramary-color-hover: #e0f2fc;
$main-hover-color: #f2efed;
$main-dark-color: rgba(46, 150, 255, 0.605);

//transitions
$main-transition: all 0.3s ease;


//radius
$main-border-radius: 4px;

//font
$bold-font: 700;
$light-font: 300;