@import "../../styles/variables.scss";

.todayTasks {
  .dayName {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .tasksCount {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .tasksIcon {
      margin-right: 5px;
    }
  }
  .addTask {
    padding-top: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(218, 218, 218);
    color: rgb(131, 131, 131);
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;

    .addTaskIcon {
      margin-right: 5px;
      border-radius: 10px;
    }
  }
  .addTask:hover {
    .addTaskIcon {
      color: white;
    }
  }
}
