@import "../../styles/variables.scss";

.myInput {
  border: 1px solid rgba(25, 25, 25, 0.1);
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--color-main);
  color: var(--color-font-main);
  border: 1px solid var(--color-border-main);
  outline: none;
  // height: 30px;
  &:focus {
    border-color: $color-blue; /* Цвет границы при фокусе */
  }
  &:hover {
  }
}
