@import "../../styles/variables.scss";

.myInput {
  border: 1px solid rgba(25, 25, 25, 0.1);
  font-size: 14px;
  padding: 9px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 6px;

  outline: none;

  &:focus {
    border-color: $blue-color; /* Цвет границы при фокусе */
  }
  &:hover {
  }
}
