.inputWrapper {
  width: 80%; /* Контейнер занимает 80% ширины родителя */
  margin: 0 auto; /* Центрируем контейнер по горизонтали */

  .subtaskInput {
    font-size: 16px;
    width: 100%;
    padding-right: 40px; // Отступ для иконки
  }

  .iconsWrapper {
    display: flex;
    justify-content: end;
    gap: 5px;
    .iconWrapper{
        cursor: pointer;
        padding: 5px;
        border-radius: 4px;
        &:hover{
            background-color: var(--color-hover-main);
        }
    }
    .calendarIcon {
      font-size: 22px;
      color: var(--color-font-main);
    }
    .dropdownIcon {
      font-size: 22px;

      color: var(--color-font-main);    
    }
  }
}
