@import "../../styles/variables.scss";

.quests {
  display: flex;
  height: 100%;
  position: relative;
}

.questsContentContainer {


  flex-grow: 1;
  padding: 20px;
  .questsContent {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px;

   
  }
}
