@import "../../styles/variables.scss";

.quests {
  display: flex;
  height: 100%;
}

.questsContentContainer {
  flex-grow: 1;
  padding: 20px;
  .questsContent {
    display: block;
    margin: 0 auto;
    width: 700px;
    padding: 10px;

   
  }
}
