.tab {
  color: var(--color-font-main);
  font-size: 14px;
  padding: 8px;
  font-weight: 400;
  justify-content: space-between;
  display: flex;
  background-color: var(--color-main);
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; /* Ограничивает видимость внутренних элементов */
  white-space: nowrap;
  height: 35px;
  gap: 20px;
  align-items: center;

  .leftSide {
    flex-shrink: 0;
  }

  .iconWrapper {
    /* Заполняет оставшееся пространство */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Предотвращает перенос текста */
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: normal;
  }

  .taskColor {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .taskTitle {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Ограничивает ширину до доступного пространства */
  }

  .tabIcon {
    flex-shrink: 0; /* Фиксирует размер, не позволяя изменяться */
    line-height: normal;
    font-size: 16px;
    color: var(--color-font-main);
  }

  .sidebarTasksOptions {
    flex-shrink: 0; /* Не изменяет размер при сжатии */
    color: var(--color-main);
    font-size: 12px;
  }

 
}


.tab:hover {
  background-color: var(--color-hover-main);

  .sidebarTasksOptions {
    color: var(--color-font-light);
    cursor: pointer;
  }

  .sidebarTasksOptions:hover {
    color: var(--color-font-hover-light);
  }
}
