@import "../../styles/variables.scss";
@import "../../styles/taskTypesColors.scss";
.sidebar {
  box-sizing: border-box;
  width: 300px;
  background-color: $main-color;
  height: 100vh;
  padding: 10px;
  z-index: 1;
  top: 0;
  left: 0;
  transition: $main-transition;
  border-right: 1px solid $main-color-border;
}
.sidebarContainer {
  box-sizing: border-box;
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;
  transition: $main-transition;
}

.close {
  margin-left: -300px;
}

.open {
  margin-left: 0px;
}
.sidebarTop {
  margin-bottom: 20px;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profileContainer {
      width: 100px; // Можно изменить на нужный размер
      height: 100px; // Можно изменить на нужный размер
      border-radius: 50%; // Делает контейнер круглым
      overflow: hidden; // Скрывает все, что выходит за пределы контейнера
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .profileImage {
      width: 100%; // Делает изображение по ширине контейнера
      height: 100%; // Делает изображение по высоте контейнера
      object-fit: cover; // Сохраняет пропорции изображения и обрезает его, чтобы заполнить контейнер
      border-radius: 50%; // Округляет изображение, чтобы оно было круглым
    }
    .profileName {
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }
}

.sidebarTab {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  padding: 5px;
  border-radius: 4px;
  color: $black-font-color;

  cursor: pointer;

  .icon {
    font-size: 24px;
    color: $black-font-color;
    margin-right: 10px;
  }

  &:hover {
    background-color: $main-color-hover;
  }
}

.sidebarTab.active {
  background-color: $main-color-active;
}
