@import "../styles/variables.scss";
.app {
  display: flex;
  background-color: var(--color-main);
  transition: background-color $transition-duration $transition-timing-function,
    box-shadow $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function;
  .appContentContainer {
    flex-grow: 1;
  }
}
