@import "../../../styles/variables.scss";

.sidebar {
  box-sizing: border-box;
  min-width: 220px; /* Минимальная ширина сайдбара */
  max-width: 470px;
  background: var( --color-main);
  height: 100vh;
  padding: 20px 10px 20px 10px;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 1px solid  var( --color-border-main);
  position: relative;
}
.sidebar.resizing {
  pointer-events: none; /* Отключаем все взаимодействия */
  cursor: ew-resize; /* Устанавливаем курсор изменения размера */
}

.resizer {
  width: 4px; /* Ширина зоны для перетаскивания */
  height: 100vh;
  position: absolute;
  cursor: ew-resize; /* Иконка изменения размера */
  z-index: 100;
  top: 0;
  right: -2px;
}
.resizer:hover {
  // background-color: #e4e4e4; /* Видимая полоса */
  transition: margin-right 4s ease-in-out 1s;
}

.close {
  display: none;
}

.open {
}

.sidebarTab {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  padding: 10px;
  border-radius: 4px;
  color: var( --color-font-main);
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  user-select: none;

  .tabText {
    white-space: nowrap; /* Предотвращает перенос текста на новую строку */
    overflow: hidden; /* Скрывает текст, который выходит за пределы контейнера */
    text-overflow: ellipsis;
  }

  .icon {
    font-size: 22px;
    color: var( --color-font-main);
    margin-right: 8px;
  }

  &:hover {
    background-color: var(--color-hover-main);
  }
}

.sidebarTab.active {
  background-color: var(--color-active-main);
}
