@import "../../../styles/variables.scss";

.sidebar {
  box-sizing: border-box;
  background: var(--color-main);
  height: 100%;
  padding: 20px 10px 20px 10px;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 1px solid var(--color-border-main);
  position: relative;
  z-index: 0;
  overflow: visible;
  flex-direction: column;
  max-width: 450px;
  min-width: 300px;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.sidebar.resizing {
  pointer-events: none; /* Отключаем все взаимодействия */
  cursor: ew-resize; /* Устанавливаем курсор изменения размера */
}
.sidebarTop {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.iconWrapper {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.icon {
  font-size: 25px;
  color: var(--color-font-main);
  cursor: pointer;
  border-radius: 4px;
}
.icon {
    font-size: 25px;
    color: var(--color-font-main);
    cursor: pointer;
    border-radius: 4px;
  }

  .iconWrapper:hover {
    background-color: var(--color-hover-main);
  }
.resizer {
  width: 10px; /* Ширина зоны для перетаскивания */
  height: 100vh;
  position: absolute;
  cursor: ew-resize; /* Иконка изменения размера */
  z-index: 100;
  top: 0;
  right: -2px;
}
.resizer:hover {
  // background-color: #e4e4e4; /* Видимая полоса */
  transition: margin-right 4s ease-in-out 1s;
}

.close {
  display: none;
}

.open {
}

.sidebarTab {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  padding: 10px;
  border-radius: 4px;
  color: var(--color-font-main);
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  user-select: none;

  .tabText {
    white-space: nowrap; /* Предотвращает перенос текста на новую строку */
    overflow: hidden; /* Скрывает текст, который выходит за пределы контейнера */
    text-overflow: ellipsis;
  }

  .icon {
    font-size: 22px;
    color: var(--color-font-main);
    margin-right: 8px;
  }

  &:hover {
    background-color: var(--color-hover-main);
  }
}

.sidebarTab.active {
  background-color: var(--color-active-main);
}




@media screen and (max-width: 900px) {
  .sidebar {
    max-width: 200px;
    min-width: 200px;
  }
}
@media screen and (max-width: 620px) {
  .sidebar {
    position: absolute;
    max-width: 350px;
    min-width: 350px;
  }
}
