@import "../../styles/variables.scss";
.myButton {
  box-shadow: none;
  border-radius: 6px;
  border-style: solid;
  border-width: 0;
  min-width: 100px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  outline: 0;
  display: inline-block;
  font-size: 14px;
  color: var(--color-font-main);
  background-color: var(--color-main);
  border: 1px solid var(--color-border-main);
  transition: background-color 0.2s ease;
  padding: 6px 16px;
  height: 40px;
  width: 100%;
  box-sizing  : border-box;

  &:hover {
    background-color: var(--color-hover-main);
  }
  &.blue {
    background-color: $color-blue;
    border: none;
    color: white;
    &:hover {
      background-color: $color-hover-blue;
    }
  }
}
.myButton:disabled {
  opacity: 0.6;
  cursor: default;
}
